<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="root">
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>
		<input id="input" type="text">
		<button id="button">Add name</button>
	</div>
	<script type="text/javascript" src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el:root,
			data:{
				names:['Joe','Mary','Jane','Jack']
			},

			mounted(){
				document.querySelector('#button').addEventListener('click',()=>{
					let name=document.querySelector('#input')
					app.names.push(name.value)
					name.value=""
		})
			}
		})

		
	</script>

</body>
</html>