<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
	<style type="text/css">
		body{
			padding-top: 40px;
		}
	</style>
</head>
<body>
	<div id="root" class="container">
		<modal v-if="showModal" close="showModal=false"></modal>
		<button @click="showModal=true">Show</button>
	</div>
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script src="main4.js"></script>
</body>
</html>