<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="root">
		<p>Just: <b>{{message}}</b> see on extensions vue DevTools chrome</p>
	</div>
	<script type="text/javascript" src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script type="text/javascript">
		new Vue({
			el:root,
			data:{
				message:'SetupDevTools session'
			}
		})
	</script>

</body>
</html>