<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="root">
		<h1>All Tasks</h1>
		<ul>
			<li v-for="task in tasks" v-text="task.description"></li>
		</ul>
		<h1>Incomplete Tasks</h1>
		<ul>
			<li v-for="task in incomplete" v-text="task.description"></li>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el: "#root",
			data:{
				tasks:[
				{description:"Go to the store", complete:true},
				{description:"Finish screencast", complete:false},
				{description:"Make donation", complete:false},
				{description:"Clear inbox", complete:false},
				{description:"Make dinner", complete:false},
				{description:"Clear room", complete:true}
				]
			},
			computed:{
				incomplete(){
					return this.tasks.filter(tasks => ! tasks.complete)
				}
			}
		
			
		})
	</script>
</body>
</html>