<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="root">
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>
		<input id="input" type="text" v-model="newName">
		<button v-on:click="addName">Add name</button>
	</div>
	<script type="text/javascript" src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el:root,
			data:{
				newName:'',
				names:['Joe','Mary','Jane','Jack']
			},

			methods:{
				addName(){
					this.names.push(this.newName)
					this.newName=''
				}
			},

		// 	mounted(){
		// 		document.querySelector('#button').addEventListener('click',()=>{
		// 			let name=document.querySelector('#input')
		// 			app.names.push(name.value)
		// 			name.value=""
		// })
		// 	}
		})

		
	</script>

</body>
</html>